@import url(default.css);

h1.title
{ 
    background: #448866; 
    color: white; 
    padding: 3pt 0;
    border-bottom: 0px;
}

h1, h2, h3
{
    border-bottom: 1px dashed #448866;
}

div.note
{
   margin: 0.5em 2em; 
   padding: 0.5em 0.5em;
   background: #ffff77;
   border: 1px solid black;
}
